.dropdown-label {
    font-size: 1.2em;
    color: #87ceeb ;
    margin-bottom: 0.5em;
}

.dropdown-container {
    margin-bottom: 1em;
}

.parameter-label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 0.3em;
}

.parameter-container {
    margin-bottom: 1em;
}
